<link rel="stylesheet" type="text/css" href="/css/side.css">

<aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
    <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
    <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
        <img
                class="rounded-pill img-fluid"
                width="65"
                src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance"
                alt="">
        <div class="ms-2">
            <h5 class="fs-6 mb-0">
                <a class="text-decoration-none" href="#">관리자명 : <br>Jone Doe</a>
            </h5>
            <p class="mt-1 mb-0">관리자 정보 : </p>
        </div>
    </div>
    <div style="text-align:center">
        <h3><a href="/main" style="color:#9CA3AF;">메인으로가기</a></h3>
    </div>


    <div class="search position-relative text-center px-4 py-3 mt-2">
        <input type="text" class="form-control w-100 border-0 bg-transparent" placeholder="Search here">
        <i class="fa fa-search position-absolute d-block fs-6"></i>
    </div>

    <ul class="categories list-unstyled">
        <li class="has-dropdown">
            <i class="uil-estate fa-fw"></i><a href="#">관리자</a>
            <ul class="sidebar-dropdown list-unstyled">
                <li class="admin-manage"><a href="#"><i>관리자 관리</i></a></li>
                <li><a href="#">관리자 목록 조회</a></li>
            </ul>
        </li>
        <li class="has-dropdown">
            <i class="uil-calendar-alt"></i><a href="#">회원관리</a>
            <ul class="sidebar-dropdown list-unstyled">
                <li class="member-list"><a href="#"><i>회원 목록 조회</i></a></li>
            </ul>
        </li>
    </ul>
</aside>
<script src="/js/side.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
