<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/loginForm.css">
</head>
<body>
<div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">어드민 페이지 로그인</h2>


    <form class="login-container" action="/" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <p><input id="adminId" name="adminId" type="text" placeholder="AdminID" value="myadmin"></p>
        <p><input id="password" name="password" type="password" autocomplete="password" placeholder="Password"></p>
        <p><button type="submit">Login</button></p>
    </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</html>